<style>
  <% if (locals.setting.theme === 'black') { %>
  article input {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
  }
  <% } %>
</style>
<article>
  <div class="wrap">
    <%- include('../../flash') %>
    <section class="title">
      <h1>회원가입</h1>
      <ul class="flow">
        <li>01 약관동의</li>
        <li class="slash">></li>
        <li class="active">02 정보입력</li>
        <li class="slash">></li>
        <li>03 가입완료</li>
      </ul>
    </section>
    <form name="frm" action="/join" method="POST" onsubmit="return onSubmit()">
      <input type="hidden" name="nickNameStatus" value="false">
      <section class="basic">
        <div class="subTitle">
          <h2>기본정보</h2>
          <div class="guide">* 표시는 반드시 입력하셔야 하는 항목입니다.</div>
        </div>
        <div class="items">
          <div class="item">
            <label><span class="point">*</span> 아이디</label>
            <div class="input"><input type="text" name="uId"></div>
          </div>
          <div class="item">
            <label><span class="point">*</span> 비밀번호</label>
            <div class="input"><input type="password" name="password"></div>
          </div>
          <div class="item">
            <label><span class="point">*</span> 비밀번호 확인</label>
            <div class="input"><input type="password" name="passwordCheck"></div>
          </div>
          <div class="item">
            <label><span class="point">*</span> 닉네임</label>
            <div class="input">
              <input type="text" name="nickName">
              <button type="button" id="nickNameCheckBtn">중복확인</button>
              <div class="message"></div>
            </div>
          </div>
          <div class="item">
            <label><span class="point">*</span> 이메일</label>
            <div class="input"><input type="text" name="email"></div>
          </div>
        </div>
      </section>
      <section class="add">
        <div class="subTitle">
          <h2>부가정보</h2>
          <div class="guide"></div>
        </div>
        <div class="items">
          <div class="item">
            <label>추천인 코드</label>
            <div class="input"><input type="text" name="inviteId"></div>
          </div>
        </div>
      </section>
      <section class="buttons">
        <button type="button" class="cancel">취소</button>
        <button class="join">회원가입</button>
      </section>
    </form>
  </div>
</article>