<%- include('../flash') %>
<section id="adminHeader">
    <nav>
      <ul>
        <li><a href="/admin/log">로그</a></li>
        <li><a href="/admin/user">회원</a></li>
        <li><a href="/admin/article">게시글</a></li>
        <li><a href="/admin/comment">댓글</a></li>
        <li><a href="/admin/chat">채팅</a></li>
        <li><a href="/admin/point">포인트</a></li>
        <li><a href="/admin/message">메시지</a></li>
        <li><a href="/admin/report">리포트</a></li>
        <li><a href="/admin/userGroup">회원그룹</a></li>
        <% if (setting.usePointWithdraw) { %>
        <li><a href="/admin/pointWithdraw">포인트 출금</a></li>
        <% } %>
        <% if (locals.setting.index === 'offline') { %>
        <li><a href="/admin/store">스토어</a></li>
        <li><a href="/admin/review">리뷰</a></li>
        <% } %>
        <% if (locals.setting.index === 'landing') { %>
          <li><a href="/admin/landing">랜딩페이지</a></li>
        <% } %>
        <% if (locals.setting.hash === 'wq7g51') { %>
          <li><a href="/admin/service">서비스</a></li>
          <li><a href="/admin/order">주문</a></li>
          <li><a href="/admin/deposit">입금</a></li>
        <% } %>
        <% if (locals.setting.hash === 'l5eu8d') { %>
          <li><a href="/admin/contact">상담신청</a></li>
        <% } %>
      </ul>
      <ul>
        <li><a href="/admin/menu">메뉴</a></li>
        <li><a href="/admin/board">게시판</a></li>
        <li><a href="/admin/page">페이지</a></li>
        <li><a href="/admin/banner">배너</a></li>
        <li><a href="/admin/totalMessage">전체 메시지</a></li>
        <li><a href="/admin/indexBoardGroup">첫페이지</a></li>
        <li><a href="/admin/permission">회원등급</a></li>
        <li><a href="/admin/check">출석</a></li>
        <li><a href="/admin/assets">에셋</a></li>
        <li><a href="/admin/go">GO</a></li>
        <li><a href="/admin/setting">설정</a></li>
      </ul>
    </nav>
</section>