footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

footer .wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .guide {
  text-align: center;
}

footer .guide h1,
footer .guide h2,
footer .guide h3 {
  color: #8E01FF;
}

footer .license {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .license img {
  width: 100%;
}

footer .copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbb;
  text-align: center;
  flex-direction: column;
}

footer .count {
  display: flex;
  color: rgba(0, 0, 0, 0.2);
}

footer .count div {
  margin-top: 10px;
  margin-right: 10px;
}

footer .count div:last-child {
  margin-right: 0;
}

b,
footer .bold {
  display: inline-block;
  font-weight: bold;
  margin-left: 8px;
}

@media (max-width: 1280px) {
  footer .guide {
    margin-left: 10px;
    margin-right: 10px;
  }
}