<article>
  <section class="wrap">
    <div><img src="https://rvj5i5.s3.ap-northeast-2.amazonaws.com/assets/1640672002910-240dhrgfuuv.jpg"></div>
    <div><img src="https://rvj5i5.s3.ap-northeast-2.amazonaws.com/assets/1640672008540-mswqu54mpt.jpg"></div>
    <div><img src="https://rvj5i5.s3.ap-northeast-2.amazonaws.com/assets/1640672030216-whvp3spjxze.jpg"></div>
    <div><img src="https://rvj5i5.s3.ap-northeast-2.amazonaws.com/assets/1640672079608-xgjsgflib6g.jpg"></div>
  </section>
</article>