<article>
  <section class="wrap">
    <div><img src="https://rvj5i5.s3.ap-northeast-2.amazonaws.com/assets/1640675590136-fzjkdi0ys4q.jpg"></div>
    <div><img src="https://rvj5i5.s3.ap-northeast-2.amazonaws.com/assets/1640675596074-fywwl0xziru.jpg"></div>
    <div><img src="https://rvj5i5.s3.ap-northeast-2.amazonaws.com/assets/1640675602093-qb1xvqvwo8a.jpg"></div>
    <div><img src="https://rvj5i5.s3.ap-northeast-2.amazonaws.com/assets/1640675607742-qtmye2g57tm.jpg"></div>
    <div class="map" style="width: 100%;">
      <!-- * 카카오맵 - 지도퍼가기 -->
      <!-- 1. 지도 노드 -->
      <div id="daumRoughmapContainer1640676426552" class="root_daum_roughmap root_daum_roughmap_landing" style="width: 90%; margin:0 auto;"></div>

      <!--
        2. 설치 스크립트
        * 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
      -->
      <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

      <!-- 3. 실행 스크립트 -->
      <script charset="UTF-8">
        new daum.roughmap.Lander({
          "timestamp" : "1640676426552",
          "key" : "28kyu",
          "mapHeight" : "360"
        }).render();
      </script>
    </div>
    <div><img src="https://rvj5i5.s3.ap-northeast-2.amazonaws.com/assets/1640694689888-4e5trde303t.jpg"></div>
  </section>
</article>