<style>
  .notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 2em;
    height: 60vh;
  }
  <% if (locals.setting.theme === 'black') { %>
   .notFound {
     color: rgba(255, 255, 255, 0.3);
   }
  <% } %>
</style>
<article>
  <div class="notFound">404 Not Found</div>
</article>