<style>
  <% if (locals.setting.theme === 'black') { %>
  article input {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
  }
  <% } %>
</style>
<article>
  <h1>비밀번호 찾기</h1>
  <form action="/findPassword/sms" method="POST">
    <div><input type="text" name="phoneNumber" placeholder="휴대폰 번호"></div>
    <div><button>문자 발송</button></div>
  </form>
</article>