<style>
  <% if (locals.setting.theme === 'black') { %>
  article input {
    color: rgba(255, 255, 255, 0.7),
    background-color: rgba(255, 255, 255, 0.1);
  }
  <% } %>

  .dropdown{
    position : relative;
    display: inline-block;
  }

  .dropbtn{
    border : 1px solid rgb(37, 37, 37);
    border-radius : 4px;
    background-color: #f5f5f5;
    font-weight: 400;
    color : rgb(37, 37, 37);
    padding : 12px;
    width :200px;
    text-align: left;
    cursor : pointer;
    font-size : 12px;
  }

  .dropdown-content{
  display : none;
  position : absolute;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  font-weight: 400;
  background-color: #f9f9f9;
  min-width : 200px;
}

.dropdown-content p{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  padding : 12px 20px;
}

.dropdown-content a:hover{
  background-color : #ececec
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>
<article>
  <h1>회원가입</h1>
  <form name="frm" action="/join" method="POST" onsubmit="return onSubmit()">
    <div id="uId">
      <input type="text" name="uId" placeholder="아이디 또는 이메일">
      <div class="guide"></div>
    </div>
    <div>
      <input type="password" name="password" placeholder="비밀번호">
      <div class="guide"></div>
    </div>
    <div>
      <input type="password" name="passwordCheck" placeholder="비밀번호 확인">
      <div class="guide"></div>
    </div>
    <!--
    <div id="nickName">
      <input type="text" name="nickName" placeholder="닉네임">
      <div class="guide"></div>
    </div>
  -->
    <div id="email">
      <input type="text" name="email" placeholder="이메일">
      <div class="guide"></div>
    </div>
    <% if (locals.setting.useJoinPhone) { %>
    <div>
      <input type="text" name="phone" placeholder="휴대폰 번호">
      <div class="guide"></div>
    </div>
    <% } %>
    <table>
      <tr>
        <td>
          <% if (locals.setting.useJoinRealName) { %>
          <div>
            <input type="text" name="realName" placeholder="이름">
          </div>
          <% } %>
        </td>
        <td>
          <div class="dropdown">
            <button class="dropbtn"><span>성별</span></button>
              <div class="dropdown-content">
                <a href="#">남자</a>
                <a href="#">여자</a>
              </div>
          </div>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td>
          <input type="text" name="birthyear" placeholder="출생년도">
        </td>
        <td>
          <div class="dropdown">
            <button class="dropbtn"><div>월</div></button>
              <div class="dropdown-content">
                <p>01</p>
                <p>02</p>
                <p>03</p>
                <p>04</p>
                <p>05</p>
                <p>06</p>
                <p>07</p>
                <p>08</p>
                <p>09</p>
                <p>10</p>
                <p>11</p>
                <p>12</p>
              </div>
        </td>
        <td>
          <div class="dropdown">
            <button class="dropbtn"><div>일</div></button>
              <div class="dropdown-content">
                <p>01</p><p>02</p><p>03</p>
                <p>04</p><p>05</p><p>06</p>
                <p>07</p><p>08</p><p>09</p>
                <p>10</p><p>11</p><p>12</p>
                <p>13</p><p>14</p><p>15</p>
                <p>16</p><p>17</p><p>18</p>
                <p>19</p><p>20</p><p>21</p>
                <p>22</p><p>23</p><p>24</p>
                <p>25</p><p>26</p><p>27</p>
                <p>28</p><p>29</p><p>30</p>
                <p>31</p>
              </div>
        </td>
      </tr>
    </table>
    <!--
    <% if (locals.setting.invitePoint) { %>
    <div>
      <input type="text" name="inviteId" class="inviteId" placeholder="추천인 아이디 또는 닉네임">
      <div class="guide"></div>
    </div>
    <% } %>
  -->
    <div><button id="joinBtn">회원가입</button></div>
    <% if (locals.setting.useTermsAndPrivacy === 1) { %>
    <div class="agreement">
      <label for="agreement">
        <div><input type="checkbox" name="agreement" id="agreement"></div>
        <div class="agreementText">이용약관 & 개인정보수집 정책 동의</div>
      </label>
    </div>
    <div class="termsAndPrivacy">
      <div><a href="/terms" target="_blank">이용약관</a></div>
      <div class="slash">|</div>
      <div><a href="/privacy" target="_blank">개인정보수집 정책</a></div>
    </div>
    <% } %>
  </form>
  <section id="socialAuth">
    <% if (setting.useSocialApple) { %><a href="/auth/apple" class="apple"><img src="/assets/social/apple.svg"><div>애플 로그인</div></a><% } %>
    <% if (setting.useSocialGoogle) { %><a href="/auth/google" class="google"><img src="/assets/social/google.svg"><div>구글 로그인</div></a><% } %>
    <% if (setting.useSocialFacebook) { %><a href="/auth/facebook" class="facebook"><img src="/assets/social/facebook.svg"><div>페이스북 로그인</div></a><% } %>
    <% if (setting.useSocialTwitter) { %><a href="/auth/twitter" class="twitter"><img src="/assets/social/twitter.svg"><div>트위터 로그인</div></a><% } %>
    <% if (setting.useSocialNaver) { %><a href="/auth/naver" class="naver"><img src="/assets/social/naver.svg"><div>네이버 로그인</div></a><% } %>
    <% if (setting.useSocialKakao) { %><a href="/auth/kakao" class="kakao"><img src="/assets/social/kakao.svg"><div>카카오 로그인</div></a><% } %>
  </section>
  <div class="etc">이미 회원이라면? <a href="/login">로그인</a></div>
</article>