<% const setting=locals.setting %>
  <style>
    <% if (locals.setting.theme==='black') {
      %>article input {
        color: rgba(255, 255, 255, 0.7);
        background-color: rgba(255, 255, 255, 0.1);
      }

      <%
    }

    %>article h1 {
      text-align: center;
    }
  </style>
  <article>
    <h1>로그인</h1>


    <section id="socialAuth">
      <!--
    <% if (setting.useSocialApple) { %><a href="/auth/apple" class="apple"><img src="/assets/social/apple.svg"><div>애플 로그인</div></a><% } %>
    <% if (setting.useSocialGoogle) { %><a href="/auth/google" class="google"><img src="/assets/social/google.svg"><div>구글 로그인</div></a><% } %>
    <% if (setting.useSocialFacebook) { %><a href="/auth/facebook" class="facebook"><img src="/assets/social/facebook.svg"><div>페이스북 로그인</div></a><% } %>
    <% if (setting.useSocialTwitter) { %><a href="/auth/twitter" class="twitter"><img src="/assets/social/twitter.svg"><div>트위터 로그인</div></a><% } %>
    <% if (setting.useSocialNaver) { %><a href="/auth/naver" class="naver"><img src="/assets/social/naver.svg"><div>네이버 로그인</div></a><% } %>
    -->

      <% if (setting.useSocialKakao) { %>

        <a href="/auth/kakao" class="kakao"><img src="/assets/social/kakao.svg">
          <div>카카오로 시작하기</div>
        </a>
        <% } %>

    </section>
    <!--
  <form action="/login" method="POST">
    <div><input type="text" name="keyword" placeholder="아이디 또는 이메일"></div>
    <div><input type="password" name="password" placeholder="비밀번호"></div>
    <div><button>로그인</button></div>
  </form>
-->

    <details>
      <summary>파트너쉽</summary>
      <form action="/login" method="POST" name="push_form" id="push_form">
        <div><input type="text" name="keyword" placeholder="아이디 또는 이메일"></div>
        <div><input type="password" name="password" placeholder="비밀번호"></div>
        <div><input type="hidden" name="playerId" id=ids value=""></div>
        <input type="hidden" name="push_title" value="푸시 테스트">
        <input type="hidden" name="push_content" value="테스트">
        <input type="hidden" name="push_url" value="https://vetween.kr/">
        <input type="hidden" id="push_id" name="push_id" value="cf250570-0c69-4f87-a16b-4fb9a5323225">
      <div><button id="log">로그인</button></div>
      </form>
      <script>
        var ids = window.localStorage.getItem("userId");
        document.getElementById("ids").value = ids;
        alert(ids);
        //document.write(ids);
        function push_send() {
          var app_id = "9f162dba-c3de-4265-b55b-0bb9d6eba346";
          var restapi_key = "ZWQ0NmY2NWEtZGZkYS00NzFkLWFhODAtZDQ5MTA5MjgxYTAw";  //고정값

          var push_title = $('#push_form')[0].push_title.value;
          var push_content = $('#push_form')[0].push_content.value;
          var push_url = $('#push_form')[0].push_url.value;
          var push_id = $('#push_form')[0].push_id.value;
          var data_param = {
            'custom_url': push_url
          };
          var player_id_array = new Array();
          player_id_array.push(push_id);   //배열변수에 추가.

          // var big_picture = "";
          // if (img_url.length > 5) {
          //   big_picture = img_url;
          // }

          $.ajax({
            url: 'https://onesignal.com/api/v1/notifications',
            type: 'POST',
            dataType: "json",
            //contentType: "application/json; charset=utf-8",
            data: {
              "app_id": app_id,
              //"included_segments": push_target_all,   //전체사용자에게 푸시발송, *iclude_segments or include_player_ids 둘중 하나만 사용가능.
              "include_player_ids": player_id_array,
              "headings": { "en": push_title },   //푸시 타이틀
              "contents": { "en": push_content },   //푸시 내용
              "data": data_param,   //이동 url
              // "large_icon": "icon_96", //표시 icon
              // "small_icon": "icon_48",  //상태바 표시 icon
              // "big_picture": big_picture,   //안드로이드 푸시 이미지
              // "ios_attachments": { "id1": big_picture },   //iOS 푸시 이미지
              // "ios_badgeType": "Increase",   //ios badge counter
              // "ios_badgeCount": 1,           //ios badge counter by 1
            },
            beforeSend: function (xhr) {
              //xhr.setRequestHeader("Content-Type", "application/json; charset=utf-8");
              xhr.setRequestHeader("Authorization", "Basic " + restapi_key);
            },
            success: function (response) {

              alert('푸시가 발송되었습니다.');
              console.log(JSON.stringify(response));
            },
            error: function (xhr) {
              alert('오류가 발생했습니다.\n\nerror : ' + JSON.stringify(xhr));
              //console.log("ERROR : " + JSON.stringify(xhr));
            }
          });

        }
      </script>  

        <script>
          const buttons = document.getElementById("log");
          buttons.addEventListener('click', function (event) {
            push_send();            
          })
        </script>

      
      <!--    
    <div class="etc">아직 회원이 아니라면? <a href="/join">회원가입</a></div>
    <div class="find"><a href="/findId">아이디 찾기</a><span class="slash">|</span><a href="/findPassword">비밀번호 찾기</a></div>
  </details>-->
  </article>