<article>
  <h1>비밀번호 변경</h1>
  <form action="/findPassword/newPassword/<%= hash %>" method="POST">
    <div><input type="password" name="password" placeholder="비밀번호"></div>
    <div><input type="password" name="passwordCheck" placeholder="비밀번호 확인"></div>
    <div><button>비밀번호 변경</button></div>
  </form>
</article>