<article>
  <section class="youtube">
    <div class="media">
      <iframe src="https://www.youtube.com/embed/WPt1y5Ie0l4" allow="fullscreen;autoplay"></iframe>
    </div>
  </section>
  <section class="service">
    <div class="title">
      <img src="https://rvj5i5.s3.ap-northeast-2.amazonaws.com/assets/1640688764548-kmpgc7ywdjp.jpg" alt="Service">
    </div>
    <div class="items">
      <div class="item"><img src="https://rvj5i5.s3.ap-northeast-2.amazonaws.com/assets/1640688770363-wryojupsea.jpg" alt="SNS 마케팅"></div>
      <div class="item"><img src="https://rvj5i5.s3.ap-northeast-2.amazonaws.com/assets/1640688776923-l8e145vddo9.jpg" alt="스토어 마케팅"></div>
      <div class="item"><img src="https://rvj5i5.s3.ap-northeast-2.amazonaws.com/assets/1640688783172-erisk4b8tb7.jpg" alt="검색광고"></div>
      <div class="item"><img src="https://rvj5i5.s3.ap-northeast-2.amazonaws.com/assets/1640688790124-lyqpmm3a1fj.jpg" alt="바이럴 마케팅"></div>
      <div class="item"><img src="https://rvj5i5.s3.ap-northeast-2.amazonaws.com/assets/1640688796396-wcmv7eri6pb.jpg" alt="콘텐츠 제작"></div>
      <div class="item"><img src="https://rvj5i5.s3.ap-northeast-2.amazonaws.com/assets/1640688803344-7lvhl8i3hby.jpg" alt="포트폴리오"></div>
    </div>
  </section>
  <section class="focus">
    <div><img src="https://rvj5i5.s3.ap-northeast-2.amazonaws.com/assets/1640689096187-5g962arflpa.png" alt="3 Focus"></div>
  </section>
  <section class="guide">
    <div class="item sns">
      <div class="image"></div>
      <a href="/snsMarketing" class="info">
        <div class="title">가장 자주 많이 접하는<br>SNS 마케팅</div>
        <div class="content">인스타그램 등과 같이 SNS 및 메신저 내<br>광고지면에 정교한 타켓팅을 활용하여 목표 도달하는 광고입니다.</div>
        <div class="button">자세히 보기 +</div>
      </a>
    </div>
    <div class="item store">
      <a href="/storeMarketing" class="info">
        <div class="title">없는거 빼고 다있는<br>스토어 마케팅</div>
        <div class="content">상품을 구매하고자 검색하는 이용자에게 네이버 쇼핑, 통합검색 영역을 통해 효과적으로 노출하고 추천하는 검색광고</div>
        <div class="button">자세히 보기 +</div>
      </a>
      <div class="image"></div>
    </div>
    <div class="item search">
      <div class="image"></div>
      <a href="/searchAd" class="info">
        <div class="title">필요한 것만 보여주는<br>검색광고</div>
        <div class="content">잠재 고객을 많이 타켓팅하여 블로그&홈페이지로<br>끌어들이는 방법의 온라인 광고입니다.</div>
        <div class="button">자세히 보기 +</div>
      </a>
    </div>
    <div class="item viral">
      <a href="/viralMarketing" class="info">
        <div class="title">기본적인 광고<br>바이럴마케팅</div>
        <div class="content">'게시물별 유입키워드'를 통해 검증된 키워드를 중심으로<br>컨텐츠를 작성하고 방문자의 구미를 당길만한 요소를 추가합니다.</div>
        <div class="button">자세히 보기 +</div>
      </a>
      <div class="image"></div>
    </div>
    <div class="item contents">
      <div class="image"></div>
      <a href="/contents" class="info">
        <div class="title">맞춤형 디자인<br>콘텐츠 제작</div>
        <div class="content">고객님의 기업과 함께 시작하고 미래를 창조합니다.<br>제작부터 관리, 업데이트까지 한번에 진행하고 있습니다.</div>
        <div class="button">자세히 보기 +</div>
      </a>
    </div>
  </section>
  <section class="company">
    <div class="wrap">
      <div class="logo">
        <img src="https://rvj5i5.s3.ap-northeast-2.amazonaws.com/assets/1640675559344-1igg3izmt3n.jpg">
      </div>
      <div class="item">
        <div class="info">
          <div class="address">서울특별시 성동구 고산자로 284 2층 201호</div>
          <div class="etc">
            TEL : 02-2088-2080<br>
            E-mail : forsbranding.corp@gmail.com<br>
            Time : 평일 09:00~19:00
          </div>
        </div>
        <div class="map">
          <!-- * 카카오맵 - 지도퍼가기 -->
          <!-- 1. 지도 노드 -->
          <div id="daumRoughmapContainer1640676426552" class="root_daum_roughmap root_daum_roughmap_landing" style="width: 90%; margin:0 auto;"></div>
  
          <!--
            2. 설치 스크립트
            * 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
          -->
          <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
  
          <!-- 3. 실행 스크립트 -->
          <script charset="UTF-8">
            new daum.roughmap.Lander({
              "timestamp" : "1640676426552",
              "key" : "28kyu",
              // "mapWidth" : "100%",
              "mapHeight" : "300"
            }).render();
          </script>
        </div>
      </div>
    </div>
  </section>
</article>