<% let i = 1 %>
<div class="wrap">
  <aside>
    <ul class="index">
      <div class="title">목차</div>
      <ol>
        <li><a href="#chap01">비트코인 마진거래란?</a></li>
        <li><a href="#chap02">비트코인 마진거래소 사이트 순위</a></li>
        <ol>
          <li><a href="#chap02-01">바이빗</a></li>
          <li><a href="#chap02-02">비트겟</a></li>
          <li><a href="#chap02-03">비트맥스</a></li>
          <li><a href="#chap02-04">바이낸스</a></li>
        </ol>
        <li><a href="#chap03">비트코인 마진거래는 합법인가 불법인가?</a></li>
        <li><a href="#chap04">비트코인 마진거래 수수료</a></li>
        <li><a href="#chap05">비트코인 마진거래 베스트 팁 5</a></li>
        <li><a href="#chap06">비트코인 마진거래 위험성</a></li>
      </ol>
    </ul>
  </aside>
  <article>
    <h1>비트코인 마진거래 사이트</h1>
    <h2 id="chap01">1. 비트코인 마진거래란?</h2>
    <p>
      가장 수익성이 높고 위험한 거래 전략 중 하나로 거래소에서 자금을 빌려 레버리지로 거래 포지션을 열 수 있습니다.<br>
      예를 들어 우리가 10,000만원의 금액으로 100배 레버리지인 1,000,000원으로 투자하는 효과를 볼 수 있습니다.<br>
      마진거래를 하는 방법은 아래의 추천 거래소를 가입하여 이용하면 됩니다.
    </p>
    <h2 id="chap02">2. 비트코인 마진거래소 추천 순위</h2>
    <p>비트코인 마진거래소를 선택하는 데 있어서 많은 특징이 있으며 그 중 최고의 비트코인 마진거래 플랫폼들을 나열했습니다.</p>
    <div class="sites">
      <div class="header">
        <div class="rank">순위</div>
        <div class="title">거래소명</div>
        <div class="direct">바로가기</div>
        <div class="feature">특징</div>
        <div class="event">이벤트</div>
      </div>
      <div class="site" id="chap02-01">
        <div class="rank"><%= i ++ %></div>
        <div class="title">바이빗</div>
        <div class="direct">
          <a href="https://www.bybit.com/register?affiliate_id=10949&group_id=0&group_type=1" target="_blank">
            <div>가입하기</div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M344.7 238.5l-144.1-136C193.7 95.97 183.4 94.17 174.6 97.95C165.8 101.8 160.1 110.4 160.1 120V192H32.02C14.33 192 0 206.3 0 224v64c0 17.68 14.33 32 32.02 32h128.1v72c0 9.578 5.707 18.25 14.51 22.05c8.803 3.781 19.03 1.984 26-4.594l144.1-136C354.3 264.4 354.3 247.6 344.7 238.5zM416 32h-64c-17.67 0-32 14.33-32 32s14.33 32 32 32h64c17.67 0 32 14.33 32 32v256c0 17.67-14.33 32-32 32h-64c-17.67 0-32 14.33-32 32s14.33 32 32 32h64c53.02 0 96-42.98 96-96V128C512 74.98 469 32 416 32z"/></svg>
          </a>
        </div>
        <div class="feature">업계 최저 수수료<br>1:1 한국어 상담 고객전담 솔루션 지원<br>주문 지연 오버로드 없음</div>
        <div class="event">
          최초 입금 시 10 USDT 쿠폰<br>
          입금액에 따라 최대 3,000 USDT 증정금
        </div>
      </div>
      <div class="site" id="chap02-02">
        <div class="rank"><%= i ++ %></div>
        <div class="title">비트겟</div>
        <div class="direct">
          <a href="https://www.bybit.com/register?affiliate_id=10949&group_id=0&group_type=1" target="_blank">
            <div>가입하기</div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M344.7 238.5l-144.1-136C193.7 95.97 183.4 94.17 174.6 97.95C165.8 101.8 160.1 110.4 160.1 120V192H32.02C14.33 192 0 206.3 0 224v64c0 17.68 14.33 32 32.02 32h128.1v72c0 9.578 5.707 18.25 14.51 22.05c8.803 3.781 19.03 1.984 26-4.594l144.1-136C354.3 264.4 354.3 247.6 344.7 238.5zM416 32h-64c-17.67 0-32 14.33-32 32s14.33 32 32 32h64c17.67 0 32 14.33 32 32v256c0 17.67-14.33 32-32 32h-64c-17.67 0-32 14.33-32 32s14.33 32 32 32h64c53.02 0 96-42.98 96-96V128C512 74.98 469 32 416 32z"/></svg>
          </a>
        </div>
        <div class="feature">홈페이지 한국어 지원</div>
      </div>
      <div class="site" id="chap02-03">
        <div class="rank"><%= i ++ %></div>
        <div class="title">비트맥스</div>
        <div class="direct">
          <a href="https://www.bitmex.com/register/yO5tzP" target="_blank">
            <div>가입하기</div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M344.7 238.5l-144.1-136C193.7 95.97 183.4 94.17 174.6 97.95C165.8 101.8 160.1 110.4 160.1 120V192H32.02C14.33 192 0 206.3 0 224v64c0 17.68 14.33 32 32.02 32h128.1v72c0 9.578 5.707 18.25 14.51 22.05c8.803 3.781 19.03 1.984 26-4.594l144.1-136C354.3 264.4 354.3 247.6 344.7 238.5zM416 32h-64c-17.67 0-32 14.33-32 32s14.33 32 32 32h64c17.67 0 32 14.33 32 32v256c0 17.67-14.33 32-32 32h-64c-17.67 0-32 14.33-32 32s14.33 32 32 32h64c53.02 0 96-42.98 96-96V128C512 74.98 469 32 416 32z"/></svg>
          </a>
        </div>
        <div class="feature">최대 100배의 레버리지 가능</div>
        <div class="event"></div>
      </div>
      <div class="site" id="chap02-04">
        <div class="rank"><%= i ++ %></div>
        <div class="title">바이낸스 선물</div>
        <div class="direct">
          <a href="https://www.binance.com/ko/futures/ref/44873870" target="_blank">
            <div>수수료 20% 할인 링크</div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M344.7 238.5l-144.1-136C193.7 95.97 183.4 94.17 174.6 97.95C165.8 101.8 160.1 110.4 160.1 120V192H32.02C14.33 192 0 206.3 0 224v64c0 17.68 14.33 32 32.02 32h128.1v72c0 9.578 5.707 18.25 14.51 22.05c8.803 3.781 19.03 1.984 26-4.594l144.1-136C354.3 264.4 354.3 247.6 344.7 238.5zM416 32h-64c-17.67 0-32 14.33-32 32s14.33 32 32 32h64c17.67 0 32 14.33 32 32v256c0 17.67-14.33 32-32 32h-64c-17.67 0-32 14.33-32 32s14.33 32 32 32h64c53.02 0 96-42.98 96-96V128C512 74.98 469 32 416 32z"/></svg>
          </a>
        </div>
        <div class="feature">
          세계 최대의 1위 거래소 바이낸스에서 운영하는 마진거래소<br>
          높은 거래량과 회원수
        </div>
        <div class="event"></div>
      </div>
    </div>
    <h2 id="chap03">3. 비트코인 마진거래는 합법인가 불법인가?</h2>
    <h2 id="chap04">4. 비트코인 마진거래 수수료</h2>
    <h2 id="chap05">5. 비트코인 마진거래 베스트 팁 5</h2>
    <h2 id="chap06">6. 비트코인 마진거래 위험성</h2>
  </article>
</div>