<footer>
  <div class="wrap">
    <div class="logo">
      <a href="/"><img src="<%= s3Host %>/assets/<%= locals.setting.logoImage %>" alt="<%= locals.setting.siteName %>"></a>
    </div>
    <div class="info">
      <div>(주)포에스브랜딩 : 서울특별시 성동구 고산자로 284 2층 201호 / 대표 : 홍성욱</div>
      <div>사업자등록번호 : 623-86-01825 / TEL : 02-2088-2080 / E-mail : forsbranding.corp@gmail.com</div>
      <div>Copyright ⓒ <a href="/admin" class="bold">For S Brading</a>. All Rights Reserved.</div>
    </div>
  </div>
</footer>