<footer>
  <div class="wrap">
    <div class="info">
      그레이마케팅 / 서울특별시 성동구 고산자로 284 2층 201호 / 대표 : 홍성욱<br>
      사업자등록번호 : 623-86-01825 / TEL : 02-2088-2080
    </div>
    <div class="licenses">
      made by <span class="bold">graymarketing.</span>
    </div>
  </div>
</footer>