<footer>
  <nav>
    <div class="wrap">
      <ul>
        <li><a href="/aboutUs">사이트 소개</a></li>
        <li class="slash">/</li>
        <li><a href="/terms">이용약관</a></li>
        <li class="slash">/</li>
        <li><a href="/privacy">개인정보처리방침</a></li>
        <li class="slash">/</li>
        <li><a href="/emailPolicy">이메일 무단수집거부</a></li>
        <li class="slash">/</li>
        <li><a href="/rules">책임의 한계와 법적고지</a></li>
      </ul>
      <ul>
        <li><a href="/guide">이용안내</a></li>
        <li class="slash">/</li>
        <li><a href="/qna">문의하기</a></li>
      </ul>
    </div>
  </nav>
  <div class="info">
    <div class="wrap">
      <div class="keywords"><%= locals.setting.siteName %> - <%= locals.setting.metaTagKeyword %></div>
      <div class="copyright">@ All rights reserved.</div>
    </div>
  </div>
</footer>