<style>
  <% if (locals.setting.theme === 'black') { %>
  #message h1 {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
  }
  #message .buttons a {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
  }
  #message .buttons a:hover,
  #message .buttons a:active {
    background-color: rgba(255, 255, 255, 0.2);
  }
  #message input {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
  }
  #message .content {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
  }
  #message textarea {
    color: rgba(255, 255, 255, 0.7);
    background-color: #000;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  <% } %>
</style>
<article id="message">
  <h1>메시지 보내기</h1>
  <div class="buttons">
    <a href="/message">메시지 목록</a>
    <% if (locals.setting.useMessage) { %>
    <a href="/message/send">메시지 보내기</a>
    <% } %>
  </div>
  <form action="/message/send" method="POST">
    <input type="text" name="keyword" value="<%= keyword %>" placeholder="아이디 또는 닉네임">
    <div class="content"><textarea name="content" placeholder="메시지 내용"></textarea></div>
    <button class="submit">보내기</button>
  </form>
</article>