<article>
  <h1>포인트</h1>
  <div class="pointBox">
    <h2>포인트</h2>
    <form action="">
      <div class="items">
        <div class="item">
          <label>보유</label>
          <div class="input">
            
          </div>
        </div>
        <div class="item">
          <label>선물하기</label>
          <div class="input">
            <input type="text" name="nickName">
          </div>
        </div>
        <div class="item">
          <label></label>
          <div class="input">
            <input type="text" name="point">
            <button>사용</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</article>