aside {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

aside .user {
  background-color: #fff;
  padding: 20px 0;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.06);
}

aside .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

aside .info .nickName {
  display: flex;
  align-items: center;
  color: #000;
}

aside .info .nickName img {
  width: 20px;
  margin-right: 5px;
}

aside .info .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
}

aside .info .userImage {
  width: 30px;
  height: 30px;
  background-color: #f8f9fc;
  border-radius: 100%;
  margin-right: 10px;
  background-position: center;
  background-size: cover;
}

aside .info .permission {
  color: #000;
}

aside .userMenu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 10px;
  margin: 0 10px;
}

aside .userMenu div {
  background-color: #f5f6f9;
  border-radius: 6px;
  box-sizing: border-box;
}

aside .userMenu div a {
  color: #697183;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

aside .message {
  border-radius: 6px;
}

aside .alarm svg,
aside .message svg {
  width: 12px;
  margin-right: 6px;
}

aside .message .messageCount {
  margin-left: 6px;
}

aside .alarm,
aside .message,
aside .admin,
aside .Kakao_Vet_Auth {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f6f9;
  border-radius: 6px;
  box-sizing: border-box;
  margin: 10px 10px 0 10px;
}

aside .getAlarm,
aside .getMessage {
  background-color: yellow;
}

aside .alarm a,
aside .message a,
aside .admin a,
aside .Kakao_Vet_Auth a{
  color: #697183;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

aside .getAlarm a,
aside .getMessage a {
  color: rgba(0, 0, 0, 0.5);
}

aside .userMenu a:hover,
aside .userMenu a:active,
aside .alarm a:hover,
aside .alarm a:active,
aside .message a:hover,
aside .message a:active,
aside .Kakao_Vet_Auth a:hover,
aside .Kakao_Vet_Auth a:active,
aside .admin a:hover,
aside .admin a:active {
  font-weight: bold;
  background-color: #EEF0F4;
  border-radius: 6px;
}

aside .getMessage a:hover,
aside .getMessage a:active {
  background-color: yellow;
}

aside .inputsAndButtons {
  
}

aside .inputsAndButtons form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

aside .inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

aside .buttons {
  width: 100%;
}

aside .inputs input {
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1em;
  border: 0;
  margin: 0;
}

aside .inputs input:first-child {
  margin-bottom: 10px;
  border-radius: 8px;
}

aside .inputs input:last-child {
  border-radius: 8px;
}

aside .buttons button {
  width: 100%;
  height: 64px;
  cursor: pointer;
  font-size: 1.4em;
  padding: 10px 0;
  margin-top: 10px;
  color: #fff;
  background-color: #123772;
  border: 0;
  border-radius: 8px;
  font-weight: bold;
  box-sizing: border-box;
}

aside .buttons button:hover,
aside .buttons button:active {
  background-color: #123772;
}

aside .joinAndFindPassword {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}

aside .joinAndFindPassword a {
  color: rgba(0, 0, 0, 0.5);
}

aside .joinAndFindPassword a:hover,
aside .joinAndFindPassword a:active {
  color: rgba(0, 0, 0, 0.8);
}

aside .joinAndFindPassword .join {
  margin-right: 20px;
}

aside .chatContainer {
  background-color: #fff;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.06);
  border-radius: 12px;
}

aside .chatBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-sizing: border-box;
  color: #000;
}

aside .chatBanner div {
  display: flex;
  align-items: center;
  height: 60px;
}

aside .userCount {
  display: flex;
  align-items: center;
}

aside .chatBox {
  padding: 0 10px;
  height: 200px;
  box-sizing: border-box;
}

aside .messageBox {
  display: flex;
  box-sizing: border-box;
}

aside .messageBox .msg {
  width: 100%;
  font-size: 1em;
  flex: 1;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #E9EBF1;
  /* background-color: #f5f6f9; */
  border-radius: 6px;
  margin: 10px;
  margin-right: 0;
  border: 0;
  box-sizing: border-box;
}

aside .messageBox .msg:hover,
aside .messageBox .msg:active {
  /* background-color: #EEF0F4; */
}

aside .messageBox .send {
  font-size: 1em;
  width: 50px;
  height: 40px;
  margin: 10px;
  color: #fff;
  background-color: #697183;
  border-radius: 6px;
  border: 0;
  box-sizing: border-box;
  word-break: keep-all;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside .messageBox .send:hover,
aside .messageBox .send:active {
  background-color: #545A68;
}

aside .chatExpand {
  display: none;
}

aside .chatWindow {
  width: 100%;
  height: 100%;
}

aside .testMode {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: yellow;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.06);
  border-radius: 12px;
}

@media (max-width: 1280px) {
  aside {
    width: 100%;
    padding: 0 10px;
  }

  aside .userBox {
    display: none;
  }

  aside .chatContainer {
    padding-bottom: 10px;
  }

  aside .chatBanner {
    /* font-size: 0.8em; */
  }

  aside .chatBox {
    height: 80px;
  }

  aside .chatExpand {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 6px;
    box-sizing: border-box;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
}
