<% const setting = locals.setting %>
<style>
    <% if (locals.setting.theme === 'black') { %>
    article input {
      color: rgba(255, 255, 255, 0.7),
      background-color: rgba(255, 255, 255, 0.1);
    }
    <% } %>
</style>
<article>
  <h1>이용약관</h1>
  <div id="term_inside">

  </div>
     
 </article>