<script src="/socket.io/socket.io.js"></script>
<script src="/theme/c79jn8/javascripts/groupChat.js" defer></script>
<article>
  <h1>그룹 채팅 <%= userCount %>명</h1>
  <div class="comment">(설문 동일 관심사 회원)</div>
  <% if (locals.setting.useChat) { %>
  <div class="chatContainer">
    <div class="chatBox" id="chatBox">
      <iframe src="/groupChatWindow.html" id="chatWindow" class="chatWindow"></iframe>
    </div>
    <% if (locals.user) { %>
    <div class="messageBox">
      <input type="text" name="msg" id="msg" class="msg" onkeydown="moveFocus('send')" placeholder="채팅 입력">
      <button name="submit" id="send" class="send" onkeydown="moveFocus('msg')">전송</button>
    </div>
    <% } else { %>
    <div class="messageBox">
      <input type="text" name="msg" id="msg" class="msg" onkeydown="moveFocus('send')" placeholder="로그인 필요" disabled>
      <button name="submit" id="send" class="send" onkeydown="moveFocus('msg')" disabled>전송</button>
    </div>
    <% } %>
  </div>
  <% } %>
</article>