<footer>
  <nav>
    <div class="wrap">
      <ul>
        <li><a href="/4x5hog">사이트 소개</a></li>
        <li class="slash">/</li>
        <li><a href="/2f397h">먹튀검증</a></li>
        <li class="slash">/</li>
        <li><a href="/jgp267">총판모집</a></li>
        <li class="slash">/</li>
        <li><a href="/p59ra4">안전놀이터</a></li>
        <li class="slash">/</li>
        <li><a href="/i9266s">토토사이트</a></li>
        <li class="slash">/</li>
        <li><a href="/pw4f0o">사설토토</a></li>
      </ul>
      <ul>
        <li><a href="/ur3n0q">이용안내</a></li>
        <li class="slash">/</li>
        <li><a href="/문의하기">문의하기</a></li>
      </ul>
    </div>
  </nav>
  <div class="info">
    <div class="wrap">
      <div class="keywords"><%= locals.setting.siteName %> - <%= locals.setting.metaTagKeyword %></div>
      <div class="copyright">@ All rights reserved.</div>
    </div>
  </div>
</footer>