<style>
  article .trade .item {
    border: 1px solid <%= locals.setting.pointColor %>;
  }
</style>
<article>
  <section class="top">
    <div class="wrap">
      <h1>해외 선물</h1>
      <div class="guide">7개 국가, 12개 거래소, 180개 품목</div>
    </div>
  </section>
  <section class="global">
    <div class="wrap">
      <h2>해외선물이란?</h2>
      <p>전세계 주요 거래소에서 상장되는 선물상품을 의미하며<br>지수 및 금리, 통화, 금속, 에너지, 농축산물 등 다양한 상품들을 거래할 수 있습니다. <br>또한 선물의 특성상 상승 뿐만이 아니라 하락에도 투자할 수 있어 한 차원 높은 투자전략을 구사하실 수 있습니다.</p>
      <div class="items">
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639920087522-g4g9fnq3oyf.svg"></div>
          <div class="title">다양한 상품에 직접 투자 가능</div>
          <div class="comment">환율, 주가지수, 금리를 포함한 금융선물 및 원유<br>금, 옥수수 등 실물 원자재 선물 거래 가능</div>
        </div>
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639892727750-yji5g2eybe.svg"></div>
          <div class="title">전략적인 투자 가능</div>
          <div class="comment">유사한 상품군, 이질적 상품군 동시 투자 가능<br>예시)원유 선물과 호주달러 동시 투자</div>
        </div>
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639922044442-q0a529tqi4.svg"></div>
          <div class="title">지정청산(헷지) 계좌 사용 가능</div>
          <div class="comment">원하는 미결제를 선택하여 청산 가능<br>매수, 매도 양방향 보유<br>(단, CME거래소 종목에 한함)</div>
        </div>
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639922101755-imqo3o4kvk.svg"></div>
          <div class="title">환전없이, 원화로 주문</div>
          <div class="comment">원화만 입금해도 가환전(원화대용)으로<br>주문가능 단, 환율 변동 위험으로<br>실제 금액의 95% 대용</div>
        </div>
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639908277260-gunqp0ej5sb.svg"></div>
          <div class="title">기본예탁금 없이 거래 가능</div>
          <div class="comment">해외선물은 기본예탁금이 없어도 
            상품별 위탁 증거금만 있으면 거래 가능</div>
        </div>
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639920087522-kv5f0gis82k.svg"></div>
          <div class="title">레버리지 활용가능</div>
          <div class="comment">상품 계약 크기 대비 적은 금액으로 거래<br>※ 레버리지 사용으로 원금 초과손실 위험이 있습니다.</div>
        </div>
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639920087521-88vecu3wabu.svg"></div>
          <div class="title">24시간 거래 가능</div>
          <div class="comment">대부분 종목이 24시간 거래 가능하며,<br>해외 이슈에 즉각 대응하여 리스크 관리가 용이</div>
        </div>
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639892611346-gfutlsz6adb.svg"></div>
          <div class="title">모의거래 제공</div>
          <div class="comment">선물 실거래 계좌가 없어도<br>실제와 유사한 데이터로<br>투자전략 사전 연습 기회 제공</div>
        </div>
      </div>
    </div>
  </section>
  <section class="map">
    <div class="wrap">
      <h2>해외 주요 선물 거래소</h2>
      <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639922233143-xpnde253su.png"></div>
    </div>
  </section>
  <section class="trade">
    <div class="wrap">
      <div class="items">
        <div class="item">
          <h3>CME(Chicago Mercantile Exchange)<br>시카고 상업거래소</h3>
          <p>CME와 CBOT 그리고 NYMEX와의 인수합병을 통해 거듭난 세계 최대 선물거래소로서 이들을 합쳐 CME GROUP이라고 합니다. 전세계 선물상품의약 70%를 거래할 수 있으며 각국의 주요지수선물, 통화선물, 금리선물 등금융선물과 에너지, 귀금속, 농축산물 등 주요 상품선물들이 거래됩니다.</p>
        </div>
        <div class="item">
          <h3>CBOT(Chicago Board Of Trade)<br>시카고 상품거래소</h3>
          <p>CME GROUP이 탄생하기 전까지 미국의 대표 상품거래소로서 시카고선물거래소라고도 합니다. 1848년에 설립된 미국에서 가장 오래된 상품거래소이며, 2007 CME GROUP과의 합병으로 주요 금융선물은 대부분 CME로 넘겨주고 지금은 상품선물들이 주로 거래되고 있습니다.</p>
        </div>
        <div class="item">
          <h3>NYMEX(NTME/COMEX)<br>뉴욕 상업거래소</h3>
          <p>1872년 뉴욕 버터/치즈 거래소로 출범하여 뉴욕거래소를 거쳐 1882년 지금의 이름으로 변경되었습니다. 세계 최대의 상품거래소로 거듭나기 위해 뉴욕귀금속거래소인 COMEX를 합병하여 지금은 NYMEX와 COMEX로 운영되고 있습니다. 주요 거래상품으로서 원유와 휘발유 등 에너지물이 주류입니다.</p>
        </div>
        <div class="item">
          <h3>ICE(NYBOT) (Intercontinental Exchange)<br>대륙간 거래소</h3>
          <p>영국 런던에 근거한 거래소로서 2000년에 설립되었습니다. 온라인거래의 발달로 인해 정규시장의 전신장이 활성화되어 전산거래주로 이루어지며, 미국의 NYBOT와 런던의 IPE를 인수하였습니다.</p>
        </div>
        <div class="item">
          <h3>LME(Lodon Meral Exchange)<br>런던 금속거래소</h3>
          <p>세계 비철금속거래의 중심지로서 1877년에 설립되어 1882년부터 금속선물거래를 시작하였습니다. 이곳에서 결정되는 가격을 LME가격'이라 하여 세계에서 거래하는 가격의 기준이 됩니다. 오프라인으로 거래되는 시장으로 오전, 오후 두차례에 걸쳐 전기동, 아연, 납, 주석, 알루미늄, 니켈 등 7개의 금속상품이 거래되고 있습니다.</p>
        </div>
        <div class="item">
          <h3>IPE(ICE)<br>(International Petroleum Exchange)<br>국제 석유거래소</h3>
          <p>북해 브렌트 원유와 경유, 가스오일, 천연가스를 취급하는 세계적인 에너지 선물옵션 시장입니다. 1981년 4 월 국제 에너지자본과 선물회사에 의해 유가변동의 위험을 감소시킬 목적으로 설립 되었으며, 하루 평균 10 억달러 이상의 석유가 어음거래의 형태로 거래 되었으나, 2001년 ICE에 의해 인수된 이후부터 모든 거래가 공개호가거래에서 전산거래로 바뀌었습니다.</p>
        </div>
        <div class="item">
          <h3>EUREX(European Exchange)<br>유럽 선물거래소</h3>
          <p>독일선물거래소(DTB)와 스위스 옵션선물거래소(SOFFEX)가 합별해 만든유럽의 거대한 선물거래소입니다. EUREX는 효율적인 통합시스템을 바탕으로매년 수많은 거래량을 기록하며, 전 세계에서 가장 크고 성공적인 거래소로서의면모를 이어가고 있습니다. EUREX의 대표적 상품들로는 EURO-BUND, EURO BOBL, EURO-SCHATZ 선물의 세 가지로 이 세 상품이 거래소 전체 거래량의 절반 이상을 차지하였습니다. EUREX U.S.에서 거래 될 상품으로는 미국채선물/옵션, 유로금리상품, DAX, DOW JONES EURO STOXX 50 SM 등유럽의 대표적인 지수상품들이 있습니다.</p>
        </div>
        <div class="item">
          <h3>EURONEXT(LIFFE)<br>유럽 국제금융선물거래소</h3>
          <p>2000년 파리, 암스테르담, 브뤼셀 3개국 통합 증권선물거래소로설립되었습니다. 2002년 런던 국제금융선물거래소(LIFFE)를 인수하여 EURONEXT LIFFE를 설립하였으며, 미국 뉴욕증권거래소(NYSE)와범유럽 증권거래소인 EURONEXT의 합병으로 NYSE Euronext가 출범하였습니다.</p>
        </div>
        <div class="item">
          <h3>TSE(Tokyo Sock Exchange)<br>도쿄 증권거래소</h3>
          <p>일본의 대표적인 도쿄에 위치한 증권선물거래소입니다. 여러 일본 주가지수선물이 거래되고 있으며, 대표적인 지수선물로서 주가지수선물이 거래되고 있습니다. 미국과 유럽에 이어 아시아시장에 중심지입니다.</p>
        </div>
        <div class="item">
          <h3>HKEX(Hong Kong Exchange)<br>홍콩 거래소</h3>
          <p>홍콩거래소(HKEX)는 홍콩증권거래소(SEHK)와 홍콩선물거래소(HKFE)의 지주회사로 아시아에서는 세번째, 세계에서는 다섯번째로 시가총액 규모가큰 거래소입니다. 이 중 홍콩선물거래소는 1977년 면화 및 설탕선물거래를 시작으로 발족하였고 1986년에는 항셍지수 선물거래를 개시하여종합적인 선물거래소로의 성장을 도모하고 있습니다.</p>
        </div>
        <div class="item">
          <h3>SGX(Singapore Exchange)<br>싱가폴 거래소</h3>
          <p>싱가포르 거래소는 선물거래소(SIMEX, SINGAPORE INTERNATIOAL MONETARY EXCHANGE)와 증권거래소(SES, STOCK-EXCHANGE OF SINGAPORE)가 공동으로 설립한 지주회사이며, 두 거래소는 각각 독립된 법인격을 유지하면서 업무영역도 엄격히 구분되어 있습니다. 주요거래 되는 상장된 상품들이 대부분 국내 상품이 아닌 외국 상품들로 구성되어 있으며, 대표적으로 지수선물이 국내 투자자들에게 큰 인기를 얻고 있습니다.</p>
        </div>
        <div class="item">
          <h3>FE(Sysdney Futures Exchange)<br>시드니 선물거래소</h3>
          <p>아시아·태평양권 2위의 선물옵션거래소로 금리, 주식, 통화 및 상품선물 등을 취급하고 있습니다. 대표적으로 양모와 축산물에 대한 상품선물이 주로 거래됩니다.</p>
        </div>
      </div>
    </div>
  </section>
</article>