<article>
  <h1>이메일 인증</h1>
  <form action="/emailAuthentication" method="POST">
    <div><input type="text" name="hash" placeholder="코드 입력"></div>
    <div><button name="submit" value="authentication">이메일 인증</button></div>
    <div><button class="second" name="submit" value="emailResend">이메일 재발송</button></div>
  </form>
</article>