<style>
  <% if (locals.setting.theme === 'black') { %>
  article input {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
  }
  <% } %>
</style>
<article>
  <h1>아이디 찾기</h1>
  <form action="/findId/email" method="POST">
    <div><input type="text" name="email" placeholder="이메일"></div>
    <div><button>이메일 발송</button></div>
  </form>
</article>