<article>
  <h1>비밀번호 찾기</h1>
  <form action="/findPassword/sms/verify" method="POST">
    <div><input type="text" name="verifyNumber" placeholder="인증번호"></div>
    <div><button>인증하기</button></div>
  </form>
</article>