<article>
  <h1>비밀번호 찾기</h1>
  <% if (locals.setting.useSMS) { %>
  <div class="button"><a href="/findPassword/sms">휴대폰으로 찾기</a></div>
  <% } %>
  <div class="button"><a href="/findPassword/email">이메일로 찾기</a></div>
</article>