<% const setting = locals.setting %>
<style>
    <% if (locals.setting.theme === 'black') { %>
    article input {
      color: rgba(255, 255, 255, 0.7),
      background-color: rgba(255, 255, 255, 0.1);
    }
    <% } %>
</style>

<article>
  <h1>개인정보수집정책</h1>
  <div id="privacy_inside">

  </div>
     
 </article>