:root {
  --border: rgba(0, 0, 0, 0.05);
}

header {
  display: flex;
}

header .wrap {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

header .logoWrap {
  position: relative;
}

header .logo {
  min-height: 70px;
  display: flex;
  align-items: center;
  font-size: 1.4em;
  font-weight: bold;
}

/* header .logo img {
  max-width: 200px;
} */

@media (min-width: 1281px) {
  header .toggleBtn {
    display: none;
  }

  header .messageBtn {
    display: none;
  }

  header .messageCount {
    display: none;
  }

  header .navbar {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  
  header .navbar .navbarMenu {
    display: flex;
    align-items: center;
  }
  
  header .navbar .navbarUser {
    display: none;
    /* display: flex; */
    align-items: center;
  }

  header .navbar .navbarMenu > li {
    height: 100%;
  }

  header .navbar .navbarMenu > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    margin-left: 20px;
    font-weight: bold;
  }

  header .navbar .navbarMenu > li > a:hover,
  header .navbar .navbarMenu > li > a:active {
    font-weight: bold;
  }

  header .navbar .navbarUser > li {
    height: 100%;
  }

  header .navbar .navbarUser > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    margin-left: 20px;
  }

  header .navbar .navbarUser > li > a:hover,
  header .navbar .navbarUser > li > a:active {
    font-weight: bold;
  }

  header .subMenuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-top: 0;
  }

  header .navbar .navbarMenu > li {
    position: relative;
  }

  header .navbar .navbarMenu > li:hover > .sub {
    display: flex;
  }

  header .navbar .navbarMenu > li > .sub {
    position: absolute;
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 0;
    border-bottom: 0;
    z-index: 2;
  }

  header .navbar .navbarMenu > li > .sub .blank {
    height: 10px;
  }

  header .navbar .navbarMenu > li > .sub .liContainer {
    background-color: #fff;
    border-radius: 8px;
    /* box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.06); */
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1),0 0 2px 0 rgba(0,0,0,0.05);
  }

  header .navbar .navbarMenu > li > .sub .liContainer .line {
    border-bottom: 1px solid var(--border);
  }

  header .navbar .navbarMenu > li > .sub li {
    width: 100%;
    border-bottom: 0;
    /* border-radius: 8px; */
  }

  header .navbar .navbarMenu > li > .sub li a {
    color: #697183;
    display: flex;
    width: 290px;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    padding-left: 10px;
  }

  header .navbar .navbarMenu > li > .sub li a:hover,
  header .navbar .navbarMenu > li > .sub li a:active {
    font-weight: bold;
  }
}

@media (max-width: 1280px) {
  header .wrap {
    flex-direction: column;
  }

  header .toggleBtn {
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 100%;
  }

  header .messageBtn {
    right: 0;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 100%;
  }

  header .messageBtn a {
    margin: 0;
    padding: 0;
  }

  header .messageBtn img {
    width: 24px;
  }

  header .messageCount {
    right: -8px;
    top: -5px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    width: 70px;
    height: 100%;
    z-index: 2;
  }

  header .messageCount div {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    color: #fff;
    background-color: red;
    text-align: center;
  }

  header .logo {
    justify-content: center;
    width: 100%;
  }

  header .navbar {
    font-size: 1em;
    display: none;
    /* display: flex; */
    flex-direction: column;
    box-sizing: border-box;
    white-space: normal;
    background-color: #ebedf3;
  }

  header .navbar.active {
    display: flex;
  }

  header .navbarUser {
    order: 1;
    display: flex;
    /* background-color: #ebedf3; */
    padding-left: 10px;
    padding-right: 10px;
  }
  
  header .navbarUser li {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 10px;
  }

  header .navbarUser li:last-child {
    margin-right: 0;
  }
  
  header .navbarUser li a {
    color: #697183;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    padding: 10px 0;
    margin: 15px 0;
    background-color: #fff;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.06);
  }

  header .navbarUser > li > a:hover,
  header .navbarUser > li > a:active {
    font-weight: bold;
    background-color: #fff;
  }

  header .navbarMenu {
    order: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  header .navbarMenu li {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
  }

  header .navbarMenu > li > a {
    font-weight: bold;
    color: #697183;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.06);
  }
  
  header .navbarMenu li a {
    display: flex;
    padding: 10px 0 10px 10px;
    box-sizing: border-box;
  }

  header .navbarMenu li a:hover,
  header .navbarMenu li a:active {
    /* font-weight: bold; */
  }

  header .navbarMenu li .sub .liContainer {
    flex: 1;
  }

  header .navbarMenu li .sub li {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    margin-left: 30px;
  }

  header .navbarMenu li .sub li a {
    display: flex;
    color: #697183;
    padding: 10px 0 10px 30px;
    box-sizing: border-box;
  }

  header .navbarMenu li .sub li a:hover,
  header .navbarMenu li .sub li a:active {
    background-color: #fff;
    border-radius: 8px;
  }
}