<style>
  <% if (locals.setting.theme === 'black') { %>
  article .comment {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  article .commentsTitle {
    color: rgba(255, 255, 255, 0.7);
  }
  article .newComment {
    background-color: rgba(0, 0, 0, 0.3);
  }
  article .newComment .nonMember input {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.3);
  }
  article .newComment .contentContainer {
    background-color: rgba(0, 0, 0, 0.3);
  }
  article .newComment textarea {
    color: rgba(255, 255, 255, 0.7);
  }
  article .newComment button {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.3);
  }
  article .newComment button:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  article .comment .main .nickName {
    color: rgba(255, 255, 255, 0.7);
  }
  article .main .commentContent {
    color: rgba(255, 255, 255, 0.7);
  }
  article .main .buttons button {
    background-color: rgba(0, 0, 0, 0.3);
  }
  article .main .buttons button:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  article .commentEtc .etcCommentContainer {
    background-color: rgba(0, 0, 0, 0.3);
  }
  article .commentEtc textarea {
    color: rgba(255, 255, 255, 0.7);
  }
  article .commentEtc button {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.3);
  }
  article .commentEtc button:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  <% } %>
</style>
<div class="commentsTitle">댓글</div>
<div class="newComment" id="newComment">
  <% if (!locals.user && board.commentPermission === 0) { %>
  <div class="nonMember">
    <input type="text" name="nickName" placeholder="닉네임">
    <input type="password" name="password" placeholder="비밀번호">
  </div>
  <% } %>
  <div class="contentContainer">
    <% if (locals.user && commentPermission || board.commentPermission === 0) { %>
      <div class="newCommentContent"><textarea name="content" placeholder="댓글을 작성해주세요"></textarea></div>
      <div class="button"><button>등록</button></div>
    <% } else if (locals.user && !commentPermission) { %>
      <div class="newCommentContent"><textarea name="content" placeholder="권한이 없습니다" disabled></textarea></div>
      <div class="button"><button disabled>등록</button></div>
    <% } else { %>
      <div class="newCommentContent"><textarea name="content" placeholder="로그인 필요" disabled></textarea></div>
      <div class="button"><button disabled>등록</button></div>
    <% } %>
  </div>
</div>
<div class="comments" id="comments">
  <% comments.forEach(comment => { %>
    <%- include('./comment', { comment }) %>
    <% comment.replies.forEach(reply => { %>
      <%- include('./comment', { comment: reply }) %>
    <% }) %>
  <% }) %>
</div>