<style>
  <% if (locals.setting.theme === 'black') { %>
  #list h1 {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
  }
  #list .category a {
    background-color: rgba(255, 255, 255, 0.1);
  }
  #list .category a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  #list .searchAndWrite .search select {
    background-color: rgba(255, 255, 255, 0.1);
  }
  #list .searchAndWrite .search input {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
  }
  #list .searchAndWrite .search button {
    background-color: rgba(255, 255, 255, 0.1);
  }
  #list .searchAndWrite .search button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  <% } %>
</style>
<div class="searchAndWrite">
  <div></div>
  <div>
    <form action="/<%= searchUrl %>">
      <div class="search">
        <button name="searchType" value="title">제목
        </button>
        <input type="text" name="keyword">
        <button>검색</button>
      </div>
    </form>
  </div>
  <div class="write">
    <% if (typeof (board) !== 'undefined' && typeof (board) !== 'null' && board) { %>
      <% if (writePermission && typeof (pullUp) !== 'undefined' && typeof (pullUp) !== 'null' && pullUp && !locals.user?.isAdmin) { %>
        <a href="/<%= board.slug %>/pullUp">끌어 올리기</a>
      <% } else if (writePermission) { %>
        <a href="/<%= board.slug %>/new">글쓰기</a>
      <% } %>
    <% } %>
  </div>
</div>