<style>
  img {
    width: 100%;
    max-width: <%= landing.mainWidth %>
  }
</style>
<article>
  <a href="<%= landing.targetUrl %>">
    <img src="<%= s3Host %>/landing/<%= landing.mainImage %>">
  </a>
</article>