<style>
  article .feature .item {
    border: 1px solid <%= locals.setting.pointColor %>;
  }
</style>
<article>
  <section class="top">
    <div class="wrap">
      <h1>선물 옵션</h1>
      <div class="guide">코스피지수, 달러원, 채권 등 현물의 선물ㆍ옵션 거래 가능</div>
    </div>
  </section>
  <section>
    <div class="wrap">
      <h2>국내선물이란?</h2>
      <p>한국거래소(KRX)에 상장된 지수, 통화, 금리. 주식, 상품(금, 돈육) 등을 기초자산으로 하는 파생상품으로 미래 일정시점에 특정 상품을 현재 합의한 가격으로 미리 사거나 파는 계약을 통하여 새로운 투자 기회와 위험회피 수단을 제공해주는 상품입니다.</p>
    </div>
  </section>
  <section class="info">
    <div class="wrap">
      <div><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639919358932-ibidlous8ai.jpg"></div>
      <div>
        <p>1996년 5월 코스피200 선물시장이 최초로 개설되면서 열린 국내 파생상품시장은<br>1997년 코스피200 옵션, 1999년 국채선물, 미국 달러선물시장 들이 잇달아 개설되면서 국제적인 거래소로 성장해 왔습니다.</p>
        <p>더욱이 코스피200 옵션의 폭발적인 거래증가에 힘입어 미국, 유럽 등 세계 유수의 거래소들을 제치고<br>세계 1위의 거래량을 기록하는 놀라운 성공을 거두어 세계 최대의 파생상품시장으로 자리매김하고 있습니다.</p>
        <p>급속히 변화하는 금융환경에 대응하여 적절한 위험관리수단을 갖추지 못했던 국내 금융시장은 96년 이후<br>파생상품 시장의 개설로 효과적인 위험관리를 할 수 있게 되었습니다.</p>
        <p>특히 1997년 아시아 금융위기를 겪으면서 기업과 투자자 등은 위험관리의 중요성을 깊이 인식하게 되었고,<br>이러한 수요는파생상품 시장의 발전으로 이어지고 있습니다.</p>
        <p>국내 파생상품시장의 개설은 투자주체들의 위험관리수단으로서 활용 외에도<br>국내금융시장의 경쟁력 강화에 큰 영향을 미치고 있습니다.</p>
      </div>
    </div>
  </section>
  <section class="what">
    <div class="wrap">
      <div class="items">
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639920087522-g4g9fnq3oyf.svg"></div>
          <div class="title">다양한 상품에 직접 투자 가능</div>
          <div class="comment">환율, 주가지수, 금리를 포함한 금융선물 및<br>개별주식 선물까지 거래 가능</div>
        </div>
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639892727750-yji5g2eybe.svg"></div>
          <div class="title">전략적인 투자 가능</div>
          <div class="comment">현물에 대한 헤지 목적 거래는 기본, 선물과<br>옵션을 활용한 합성 전략도 가능</div>
        </div>
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639920087522-kv5f0gis82k.svg"></div>
          <div class="title">레버리지 활용 가능</div>
          <div class="comment">상품 계약 크기 대비 적은 금액으로 거래<br>※레버리지 사용으로 원금 초과손실 위험이 있습니다.</div>
        </div>
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639908870583-tw6edl1l86o.svg"></div>
          <div class="title">투자자보호제도 완화</div>
          <div class="comment">사전교육/모의거래 시간 단축 및<br>기본예탁금 축소로 접근성 상승</div>
        </div>
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639920087521-88vecu3wabu.svg"></div>
          <div class="title">야간 연계거래 지원</div>
          <div class="comment">해외거래소와 한국거래소 연계로<br>야간시간에도 해외 이슈 대응 가능</div>
        </div>
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639892611346-gfutlsz6adb.svg"></div>
          <div class="title">모의거래 제공</div>
          <div class="comment">서해선물 실거래 계좌가 없어도 실제와 유사한<br>데이터로 투자전략 사전 연습 기회 제공</div>
        </div>
      </div>
    </div>
  </section>
  <section class="feature">
    <div class="wrap">
      <h2>국내선물 특징</h2>
      <div class="items">
        <div class="item">
          <h3>청산소</h3>
          <p>선물거래는 불특정 다수가 참여하기 때문에거래 상대방의 신용을 파악 못한 상태에서 매매가 이루어집니다. 선물거래의 참여자가 안심하고 매매하기 위해서는모든 거래의 계약이행(결제)을 보증할 제3자가 필요합니다. 이런 역할을 하는 기관이 청산소입니다. 파생상품 거래에서 매수자와 매도자가 직접 거래하는 것이 아니라매수자와 매도자 사이에 청산소가 개입하여 거래 상대방이 되어 주는 것입니다. 즉, 매도자에게 거래 상대방인 매수자가 되어주고, 매수자에게는 매도자가 되어줌으로써 거래 상대방의 신용상태(결제이행능력 여부)에 대하여 염려할 필요 없이 안심하고 매매를 할 수 있습니다.</p>
        </div>
        <div class="item">
          <h3>증거금 제도</h3>
          <p>선물거래는 현재 시점에서 거래 대상물과 대금이 필요 없는 대신미래 특정시점에 계약을 이행하겠다는 약속의 보증이 필요합니다. 증거금이란 계약불이행의 위험을 방지하기 위해거래소가 매매 당사자로 하여금 계약과 동시에 납부하도록 하는일정 비율의 보증금을 말합니다. 증거금의 수준은 거래소와 대상자산의 가격변동성에 따라서 차이가 있으나 대개 계약금액의 10%이내에서 정해집니다. 선물거래를 하기 위해서는 총 계약금액의 10%정도만 있으면거래가 가능하므로 레버리지효과(leverage effect)가 상대적으로 큽니다.</p>
        </div>
        <div class="item">
          <h3>일일정산 제도</h3>
          <p>청산소는 당일 장이 끝난 후 종가를 기준으로 하여매일의 정산가격을 발표합니다. 이 가격을 기준으로 모든 거래 참여자들의미청산계약(open interest)에 대한 잠정이익과 손실을 정산합니다. 이러한 정산의 결과 증거금계정의 수준이 유지증거금의이하의 수준으로 추가증거금을 납부해야 하며, 반대로 기본 증거금을 초과하는 이익에 대해서는 현금인출이 가능합니다. 청산소는 일일정산 기능을 통하여 계약 당사자들로 하여금일정 수준의 증거금을 유지하도록 하여계약불이행 위험을 미연에 방지합니다.</p>
        </div>
        <div class="item">
          <h3>최종 결제 제도</h3>
          <p>최종 결제일(만기일)까지 청산되지 않은 선물포지션을결제하는 방식으로 실물인수도(physical delivery)방식과현금정산(cash settlement)방식이 있습니다. 실물인수도 대부분의 선물계약에 적용되는 만기정산 방법으로 거래소가 지정한 창구를 통해 매도자와 매수자가 실물을 인수도 합니다.현금결제 대상자산이 지수(index)로 되어 있는 것과 같이 실물인도가 불가능한 품목에 대하여 채택하고 있는 최종결제 방법입니다.계약을 체결한 당시의 가격과 최종 결제일(만기일)의정산가격의 차액만큼을 수수함으로써 결제가 이루어집니다. </p>
        </div>
      </div>
    </div>
  </section>
  <section class="different">
    <div class="wrap">
      <h2>선물거래와 현물거래의 차이점</h2>
      <p>표준화된 선물계약의 매매라고 할 수 있으며, 선물계약은 표준화된 특정상품을 공인된 선물거래소에서<br>미래 일정시점에 현재 합의된 가격으로 인수도 할 것을 약속하는 법적 구속력을 갖는 계약을 의미합니다.</p>
      <table>
        <thead>
          <tr>
            <th>구분</th>
            <th>선물거래</th>
            <th>현물거래</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>시장기능</td>
            <td>위험전가 회피<br>미래가격 예시<br>새로운 투자수단 제공</td>
            <td>자본형성</td>
          </tr>
          <tr>
            <td>상품보유기간</td>
            <td>한정적임(만기가 있음)</td>
            <td>제한없음</td>
          </tr>
          <tr>
            <td>레버리지효과(지렛대)</td>
            <td>증권시장보다 큼</td>
            <td>선물시장보다 작음</td>
          </tr>
          <tr>
            <td>증거금성격</td>
            <td>이행보증금으로 거래대금의 10%수준으로 낮음</td>
            <td>주식 매입대금의 일부지급 성격으로 40% 수준</td>
          </tr>
        </tbody>
      </table>
      <h2>선물거래와 선도거래의 차이점</h2>
      <table>
        <thead>
          <tr>
            <th>구분</th>
            <th>선물거래</th>
            <th>현물거래</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>거래조건</td>
            <td>거래방법 및 계약단위, 만기일 등 거래조건이 표준화 됨</td>
            <td>매매 당사자간의 합의에 따라 결정되어 조건이 다양해짐</td>
          </tr>
          <tr>
            <td>거래장소</td>
            <td>거래소라는 물리적 장소에서 공개적으로 거래가 이루어짐</td>
            <td>일정한 장소가 없이 당사자들간 직접적으로 만나서 이루어짐</td>
          </tr>
          <tr>
            <td>중도청산</td>
            <td>시장상황에 따라 자유롭게 반대거래를 통해 청산이 가능함</td>
            <td>상대방이 응하지 않으면 중도에 청산이 쉽지 않음</td>
          </tr>
          <tr>
            <td>신용위험</td>
            <td>청산소가 계약이행을 보증하여 신용위험이 없음</td>
            <td>당사자간의 약속으로 계약불이행의 위험이 존재함</td>
          </tr>
          <tr>
            <td>일일정산</td>
            <td>가격변동에 따라 거래일별로 청산소가 수행함</td>
            <td>계약종료일에 단 한번 정산됨</td>
          </tr>
          <tr>
            <td>인수도</td>
            <td>대부분의 거래가 만기일 이전에 반대거래로 종료됨</td>
            <td>대부분의 거래가 종료시 실물인수도가 이루어짐</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</article>