<style>
  article h2 {
    background-color: <%= locals.setting.pointColor %>;
  }
</style>
<article>
  <section class="top">
    <div class="wrap">
      <h1>비대면 계좌개설 안내</h1>
      <div class="guide"><%= locals.setting.siteName %>에서는 간편하게 비대면 계좌개설이 가능합니다.</div>
    </div>
  </section>
  <section class="accounts">
    <div class="wrap">
      <h2>개설가능계좌</h2>
      <div class="items">
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639892727750-yji5g2eybe.svg"></div>
          <div class="info">
            <div class="title">국내선물</div>
            <div class="content">코스피200선물·옵션, 달러원선물, 개별주식 선물 등</div>
          </div>
        </div>
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639892727750-fp4d289m5p.svg"></div>
          <div class="info">
            <div class="title">해외선물</div>
            <div class="content">나스닥, S&P500. 니케이225, 원유, 골드, 미국채선물 등</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="prepare">
    <h2>준비사항</h2>
    <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639892727749-hnmvluqvwuj.svg"></div>
    <div class="title">휴대폰</div>
    <div class="content">
      <p>본인인증 및 온라인 거래를 위해 본인명의의 휴대폰이 필요합니다. 법인 명의, 타인 명의 휴대폰은 사용이 불가능합니다.</p>
    </div>
  </section>
  <section class="stepByStep">
    <div class="wrap">
      <h2>계좌개설 절차</h2>
      <div class="items">
        <div class="item">
          <div class="step">STEP 01</div>
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639892611348-3gqif0dkmjv.svg"></div>
          <div class="title">상담신청</div>
          <div class="content">연중무휴, 24시간 365일 가능</div>
        </div>
        <div class="item">
          <div class="step">STEP 02</div>
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639892611347-0aa00t3t84k.svg"></div>
          <div class="title">전화상담 후 승인</div>
          <div class="content">간단한 본인 확인 전화</div>
        </div>
        <div class="item">
          <div class="step">STEP 03</div>
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639892611346-gfutlsz6adb.svg"></div>
          <div class="title">HTS/MTS 다운로드</div>
          <div class="content">간단한 본인 확인 전화</div>
        </div>
        <div class="item">
          <div class="step">STEP 04</div>
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639892611346-j5hudm4ou3.svg"></div>
          <div class="title">거래 시작</div>
          <div class="content">거래 수수료 할인</div>
        </div>
      </div>
    </div>
  </section>
</article>