<article>
  <section class="top">
    <div class="wrap">
      <h1>이용안내</h1>
      <div class="guide">항상 고객입장에서 고객의 편의와 만족을 최우선으로 생각하겠습니다.</div>
    </div>
  </section>
  <section class="join">
    <div class="wrap">
      <h2>회원가입 절차</h2>
      <div class="items">
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639892611348-3gqif0dkmjv.svg"></div>
          <div class="step">STEP 01</div>
          <div class="text">홈페이지 회원가입</div>
        </div>
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639908870583-tw6edl1l86o.svg"></div>
          <div class="step">STEP 02</div>
          <div class="text">회원 정보 등록</div>
        </div>
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639908870584-pcgow17b2k9.svg"></div>
          <div class="step">STEP 03</div>
          <div class="text">가입완료 및 승인대기</div>
        </div>
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639908870583-yeebkp6rovh.svg"></div>
          <div class="step">STEP 04</div>
          <div class="text">승인완료</div>
        </div>
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639892611346-gfutlsz6adb.svg"></div>
          <div class="step">STEP 05</div>
          <div class="text">HTS 다운로드</div>
        </div>
      </div>
    </div>
  </section>
  <section class="hts">
    <div class="wrap">
      <h2>HTS 이용절차</h2>
      <div class="items">
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639908277260-d3nu3ja37z.svg"></div>
          <div class="step">STEP 01</div>
          <div class="text">HTS 설치</div>
        </div>
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639908277260-gunqp0ej5sb.svg"></div>
          <div class="step">STEP 02</div>
          <div class="text">회원가입 및 계좌등록</div>
        </div>
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639908277259-dwtbv1frrno.svg"></div>
          <div class="step">STEP 03</div>
          <div class="text">로그인</div>
        </div>
        <div class="item">
          <div class="image"><img src="https://idfy22.s3.ap-northeast-2.amazonaws.com/assets/1639908277259-j8vxgac0q1o.svg"></div>
          <div class="step">STEP 04</div>
          <div class="text">거래시작</div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="wrap">
      <h2>회원가입 시 유의사항</h2>
      <p>회원가입 시 타인 명의의 가입은 사전통보없이 이용이 제한됩니다. 그리고 입출금 계좌 등록 시 타인 명의 은행계좌로의 입출금은 불가합니다.<br>회원가입 및 입출금 계좌 관련 문의 사항은 고객센터로 문의 바랍니다.</p>
    </div>
  </section>
</article>