<article>
  <section class="top">
    <div class="wrap">
      <h1>시스템 차트</h1>
      <div class="guide">서해에셋 특별한 선물 지표<br>선물 초보자분들도 한번보고 따라할수있는 매수,매도 진입 신호 승률 80프로 이상 수익율 200%</div>
    </div>
  </section>
  <section class="youtube">
    <div class="wrap">
      <div class="media">
        <iframe src="https://www.youtube.com/embed/wEoPiL3UKc4?autoplay=1&mute=1" allow="fullscreen;autoplay"></iframe>
      </div>
    </div>
  </section>
</article>